body {
    color: black;
    font-family: Roboto, sans-serif;
}
header {
    background-color: #E6BC5A;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
}

header h1 {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
}

.card-container {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.card-container img {
    height: 100%;
    width: 100%;
}

.card-text-box {
    border: 0.5px solid #cac3c3;
    margin-top: -4px;
}

.card-title {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
}

.card-subtitle {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}