body {
    color: black;
    font-family: Roboto, sans-serif;
}
header {
    background-color: #E6BC5A;
    margin-top: 0;
    padding: 10px 20px;
}

header h1 {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.card-container {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.card-container img {
    height: 300px;
    width: 300px
}

.card-text-box {
    border: 0.5px solid gray;
    margin-top: -4px;
}